<body class="bg-dark">
    <div class="container-fluid p-5 bg-dark height-full">
        <div class="row">
            <div class="col-md-4 mx-auto bg-dark border border-light border-5 rounded">
                <div class="card text-center bg-dark">
                    <div class="card-header">
                        <h1 class="text-uppercase text-light text-center">LOGIN</h1>
                    </div>
                    <div class="card-body">
                        <form action="/index" method="get">
                            <div class="input-group mt-2">
                                <label for="Usuario" class="input-group-text">Usuario</label>
                                <input class="form-control" type="text" name="username" id="name" placeholder="Ejemplo: Usuarioi1203" required>
                            </div>
                            <div class="input-group mt-2">
                                <label for="Contraseña" class="input-group-text">Contraseña</label>
                                <input class="form-control" type="password" name="password" id="Contraseña" placeholder="Ejemplo: *********" required>
                            </div>
                            <div class="form-group mt-4 d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>